{% load django_bootstrap5  %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<ul class="nav bg-dark fixed">
  <li class="nav-item">
  <title> APP FAMILIAR </title>
    <a class="nav-link active" href="{% url 'index' %}"> <h3> Miembros de mi Familia </h3> </a>
  </li>
</ul>

{%block cuerpo%}
{%endblock%}

  
<ul class="nav bg-dark fixed-bottom justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" href="/familia">coder house - python 36585 - {% now 'd-m-Y' %}</a>
  </li>
</ul>